<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" label="gutterDesk">
    <!-- Quick Access Launchers -->
    <item label="Terminal">
      <action name="Execute">
        <execute>guake-toggle</execute>
      </action>
    </item>

    <!-- Screenshots -->
    <menu id="screenshots-menu" label="Screenshots">
      <item label="Select Area...">
        <action name="Execute">
          <execute>scrot -s '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mkdir -p ~/images &amp;&amp; mv $f ~/images/ &amp;&amp; viewnior ~/images/$f'</execute>
        </action>
      </item>
      <item label="Full Screen (Now)">
        <action name="Execute">
          <execute>scrot '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mkdir -p ~/images &amp;&amp; mv $f ~/images/ &amp;&amp; viewnior ~/images/$f'</execute>
        </action>
      </item>
      <item label="Full Screen (In 5s)...">
        <action name="Execute">
          <execute>scrot -d 5 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mkdir -p ~/images &amp;&amp; mv $f ~/images/ &amp;&amp; viewnior ~/images/$f'</execute>
        </action>
      </item>
    </menu>

    <separator/>

    <item label="File Manager">
      <action name="Execute">
        <execute>pcmanfm</execute>
      </action>
    </item>

    <menu id="browsers-menu" label="Web Browsers">
      <item label="Google Chrome">
        <action name="Execute">
          <execute>google-chrome-stable</execute>
        </action>
      </item>
      <item label="Chromium">
        <action name="Execute">
          <execute>chromium</execute>
        </action>
      </item>
    </menu>

    <menu id="launchers-menu" label="Run / Search">
      <item label="Run Program...">
        <action name="Execute">
          <execute>gmrun</execute>
        </action>
      </item>
      <item label="Application Launcher">
        <action name="Execute">
          <execute>rofi -show drun -show-icons</execute>
        </action>
      </item>
      <item label="Window Switcher">
        <action name="Execute">
          <execute>rofi -show window</execute>
        </action>
      </item>
    </menu>

    <separator label="Productivity"/>

    <item label="Antigravity IDE">
      <action name="Execute">
        <execute>antigravity</execute>
      </action>
    </item>
    <item label="Antigravity 2.0">
      <action name="Execute">
        <execute>antigravity2</execute>
      </action>
    </item>
    <item label="gutterDeck">
      <action name="Execute">
        <execute>gutterdeck</execute>
      </action>
    </item>
    <item label="gutterTab">
      <action name="Execute">
        <execute>gutterTab</execute>
      </action>
    </item>

    <separator label="Trading"/>

    <item label="Banyan">
      <action name="Execute">
        <execute>sh -c '[ -x "$HOME/projects/Banyan/desktop/build/banyan_daemon" ] &amp;&amp; "$HOME/projects/Banyan/desktop/build/banyan_daemon" --show || banyan_daemon --show'</execute>
      </action>
    </item>
    <item label="Cable">
      <action name="Execute">
        <execute>chromium "https://www.tradingview.com/chart/?symbol=GBPUSD"</execute>
      </action>
    </item>
    <item label="Gold">
      <action name="Execute">
        <execute>chromium "https://www.tradingview.com/chart/?symbol=XAUUSD"</execute>
      </action>
    </item>

    <separator label="Applications"/>

    <!-- 1. Admin -->
    <menu id="admin-menu" label="Admin">
      <item label="Thunderbird">
        <action name="Execute">
          <execute>thunderbird</execute>
        </action>
      </item>
      <item label="FileZilla">
        <action name="Execute">
          <execute>filezilla</execute>
        </action>
      </item>
    </menu>

    <!-- 2. Creative Suite -->
    <menu id="creative-menu" label="Creative Suite">
      <item label="GIMP Image Editor">
        <action name="Execute">
          <execute>gimp</execute>
        </action>
      </item>
      <item label="Inkscape Vector Graphics">
        <action name="Execute">
          <execute>inkscape</execute>
        </action>
      </item>
      <item label="Krita Digital Painting">
        <action name="Execute">
          <execute>krita</execute>
        </action>
      </item>
      <separator/>
      <item label="Blender 3D Suite">
        <action name="Execute">
          <execute>blender</execute>
        </action>
      </item>
      <item label="FreeCAD 3D Modeling">
        <action name="Execute">
          <execute>freecad</execute>
        </action>
      </item>
      <separator/>
      <item label="Darktable Photo Workflow">
        <action name="Execute">
          <execute>darktable</execute>
        </action>
      </item>
      <item label="DigiKam Photo Manager">
        <action name="Execute">
          <execute>digikam</execute>
        </action>
      </item>
      <separator/>
      <item label="Ardour Digital Audio Workstation">
        <action name="Execute">
          <execute>ardour</execute>
        </action>
      </item>
      <item label="LMMS Music Production">
        <action name="Execute">
          <execute>lmms</execute>
        </action>
      </item>
      <separator/>
      <item label="Kdenlive Video Editor">
        <action name="Execute">
          <execute>kdenlive</execute>
        </action>
      </item>
      <item label="Shotcut Video Editor">
        <action name="Execute">
          <execute>shotcut</execute>
        </action>
      </item>
      <item label="HandBrake Video Transcoder">
        <action name="Execute">
          <execute>handbrake</execute>
        </action>
      </item>
    </menu>

    <!-- 3. Viewers -->
    <menu id="viewers-menu" label="Viewers">
      <item label="Viewnior Image Viewer">
        <action name="Execute">
          <execute>viewnior</execute>
        </action>
      </item>
      <item label="Atril Document Viewer">
        <action name="Execute">
          <execute>atril</execute>
        </action>
      </item>
      <item label="VLC Media Player">
        <action name="Execute">
          <execute>vlc</execute>
        </action>
      </item>
    </menu>

    <!-- 4. Accessories -->
    <menu id="accessories-menu" label="Accessories">
      <item label="Geany Text Editor">
        <action name="Execute">
          <execute>geany</execute>
        </action>
      </item>
      <item label="Calculator">
        <action name="Execute">
          <execute>galculator</execute>
        </action>
      </item>
      <item label="Archive Manager">
        <action name="Execute">
          <execute>file-roller</execute>
        </action>
      </item>
      <item label="Catfish File Search">
        <action name="Execute">
          <execute>catfish</execute>
        </action>
      </item>
      <item label="Calendar">
        <action name="Execute">
          <execute>gsimplecal</execute>
        </action>
      </item>
      <separator/>
      <item label="Task Manager">
        <action name="Execute">
          <execute>x-terminal-emulator -e htop</execute>
        </action>
      </item>
      <item label="Volume Control">
        <action name="Execute">
          <execute>pavucontrol</execute>
        </action>
      </item>
    </menu>

    <!-- 5. Network -->
    <menu id="network-menu" label="Network">
      <item label="Wi-Fi Settings">
        <action name="Execute">
          <execute>iwgtk</execute>
        </action>
      </item>
      <item label="Bluetooth Manager">
        <action name="Execute">
          <execute>blueman-manager</execute>
        </action>
      </item>
      <item label="Transmission BitTorrent">
        <action name="Execute">
          <execute>transmission-gtk</execute>
        </action>
      </item>
    </menu>

    <separator label="Preferences"/>

    <!-- Settings -->
    <menu id="settings-menu" label="Settings">
      <item label="Openbox Preferences">
        <action name="Execute">
          <execute>obconf</execute>
        </action>
      </item>
      <item label="Display Settings">
        <action name="Execute">
          <execute>arandr</execute>
        </action>
      </item>
      <item label="Wallpaper Selection">
        <action name="Execute">
          <execute>nitrogen</execute>
        </action>
      </item>
      <item label="Notification Settings">
        <action name="Execute">
          <execute>xfce4-notifyd-config</execute>
        </action>
      </item>
      <separator label="Configuration Files"/>
      <item label="Edit Openbox Menu">
        <action name="Execute">
          <execute>geany ~/.config/openbox/menu.xml</execute>
        </action>
      </item>
      <item label="Edit Openbox Keybinds">
        <action name="Execute">
          <execute>geany ~/.config/openbox/rc.xml</execute>
        </action>
      </item>
      <item label="Edit Openbox Autostart">
        <action name="Execute">
          <execute>geany ~/.config/openbox/autostart</execute>
        </action>
      </item>
      <item label="Edit Tint2 Panel">
        <action name="Execute">
          <execute>geany ~/.config/tint2/tint2rc</execute>
        </action>
      </item>
      <separator label="Reload Daemons"/>
      <item label="Reconfigure Openbox">
        <action name="Reconfigure"/>
      </item>
      <item label="Restart Openbox">
        <action name="Restart"/>
      </item>
      <item label="Restart Tint2 Panel">
        <action name="Execute">
          <execute>killall -SIGUSR1 tint2</execute>
        </action>
      </item>
    </menu>

    <separator/>

    <!-- Session & Power -->
    <item label="Lock Screen">
      <action name="Execute">
        <execute>sh -c 'light-locker-command -l 2>/dev/null || dm-tool lock'</execute>
      </action>
    </item>
    <menu id="session-power-menu" label="Session &amp; Power">
      <item label="Log Out">
        <action name="Exit"/>
      </item>
      <separator/>
      <item label="Reboot">
        <action name="Execute">
          <execute>systemctl reboot</execute>
        </action>
      </item>
      <item label="Shut Down">
        <action name="Execute">
          <execute>systemctl poweroff</execute>
        </action>
      </item>
    </menu>
  </menu>
</openbox_menu>
